/* src/components/Header.css */
.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: white;
}

.logo img {
    height: 50px;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav a {
    color: #1472bc;
    text-decoration: none;
    
}
